* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  font-size: 14px;
  color: #abd1c6;
}

p {
  background-color: #004643;
  border: 1.5px solid #e16162;
}

.one {
  height: 25px;
  width: 200px;
}

.two {
  padding: 10px 15px;
}

.three {
  /*border-radius: 50%; highly rounded*/
  height: 25px;
  width: 200px;
  border-radius: 10px; /*more subtle round*/
}

.four {
  height: 25px;
  width: 200px;
  margin: 20px 10px;
}
